.task-module{
  &_block{
    text-align:left;
    max-width:1000px;
    margin:0 auto;
    position:relative;
    &_line{
      display:flex;
      justify-content: space-between;
      align-items:center;
      .name-block{
        width:100%;
        h2{
          padding-left:30px;
          font-family: Proxima Nova;
          font-size: 32px;
          line-height: 39px;
          color: #222B3A;
          position:relative;
          &::before {
            content:'';
            height:2px;
            left:1px;
            width:22px;
            background-color: #222B3A;
            position:absolute;
            top: calc(50% + 2px);
          }
          &::after {
            content:'';
            height:2px;
            max-width:700px;
            left:250px;
            width:100%;
            background-color: #F1F1F1;
            position:absolute;
            top: calc(50% + 2px);
          }
          span{
            background-color: #fff;
          }
        }
      }
      .rectangle-block{
        width:30px;
        height:30px;
        display:flex;
        align-items:center;
        justify-content: center;
        &:hover{
          cursor:pointer;
        }
        .open{
          transform:rotate(180deg);
          transition: all .5s linear;
        }
        .close{
          transition: all .5s linear;
        }
      }
    }
    .card-text{
      overflow-y:hidden;
      transition-property: all;
      transition-duration: .5s;
      transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
      &.open{
        height:400px;
      }
      &.close{
        height:0;
      }
    }
  }
}
