<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1>ARTICLES</h1>
  <form name="form1" method="POST" action="/student/add">
    <table>
      <tr>
        <td>First name</td>
        <td><input type="text" name="name" ></td>
      </tr>
      <tr>
        <td>Title</td>
        <td><input type="text" name="title" ></td>
      </tr>
      <tr>
        <td>Text</td>
        <td><textarea rows="10" cols="45" name="text" ></textarea></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="Send" ></td>
      </tr>
    </table>
  </form>
  </body>
</html>
