.second-block{
  &__item{
    background-color: #fff;
    display:flex;
    justify-content: space-between;
    position:relative;
    height:186px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.03);
    margin:10px 0;
    &_num{
      background: #F3F3F3;
      border-radius: 3px 0px;
      display:flex;
      align-items:center;
      position:absolute;
      justify-content: center;
      top:0;
      left:0;
      width:30px;
      height:30px;
      font-family: Proxima Nova;
      font-size: 16px;
      font-weight: bold;
    }
    &_icon-block{
      min-width:200px;
      display:flex;
      justify-content: center;
      align-items: center;
    }
    &_main-block{
      display:flex;
      justify-content: space-between;
      flex-direction:column;
      width:100%;
      &_title{
        color: #979FAD;
        font-family: Proxima Nova;
        font-size: 16px;
        line-height: 19px;
        padding:20px 0;
        span{
          margin-left:40px;
          &:first-child{
            margin-left:0;
          }
        }
        &_art{
          display:flex;
          .time{
            display:flex;
            align-items:center;
            img{
              margin-right:3px;
            }
          }
        }
        &_test{
          display:flex;
          .time{
            display:flex;
            align-items:center;
            img{
              margin-right:3px;
            }
          }
        }
      }
      &_text{
        font-family: Proxima Nova;
        font-size: 24px;
        line-height: 29px;
        color: #222B3A;
      }
      &_actions{
        display:flex;
        padding: 20px 0;
        font-family: Proxima Nova;
        font-size: 18px;
        line-height: 22px;
        img{
          margin-right:10px;
        }
        .see-btn{
          color:#FFA43F;
          &:hover{
            cursor:pointer;
          }
        }
        .bell-btn{
          margin-left:40px;
          display:flex;
          align-items:center;
          color:#696969;
          &:hover{
            cursor:pointer;
          }
        }
      }
    }
    &_check-block{
      min-width:200px;
      display:flex;
      justify-content:center;
      align-items:center;
    }
    &.active{
      border: 1.5px solid #FFA43F;
      .second-block__item_num{
        color:#fff;
        background-color: #FFA43F;
      }
    }
  }
}
