<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <h1>Login</h1>
      <input id="email" type="text" placeholder="email">
      <input id="password" type="text" placeholder="password">
      <button id="login-btn">
        click
      </button>
    </div>
    <div>
      <h2>Register</h2>
      <input id="login-reg" type="text" placeholder="login">
      <input id="email-reg" type="text" placeholder="email">
      <input id="password-reg" type="text" placeholder="password">
      <button id="register-btn">
        click
      </button>
    </div>
    <div>
      <h2>Update</h2>
      <input id="login-upd" type="text" placeholder="login">
      <input id="email-upd" type="text" placeholder="email">
      <button id="update-btn">
        click update
      </button>
    </div>
    <div>
      <h2>Delete</h2>
      <input id="email-del" type="text" placeholder="email">
      <button id="delete-btn">
        click Delete
      </button>
    </div>
  <script src="server.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>
