.task-module_block_text{
    margin:0 20px 20px 20px;
    &_item{
      display:flex;
      justify-content: space-between;
      border-bottom: 2px solid #DFDADA;
      padding-bottom:20px;
      padding-top:20px;
      &_first{
        display:flex;
        .number-block{
          min-width: 25px;
          height: 25px;
          background: #F3F3F3;
          border-radius: 3px 0;
          display:flex;
          justify-content: center;
          align-items: center;
          margin-right:20px;
          span{
            font-family: Proxima Nova;
            font-size: 16px;
            line-height: 19px;
            color: #222B3A;
            font-weight: 700;
          }
        }
        .text-block{
          font-family: Proxima Nova;
          font-size: 16px;
          line-height: 19px;
          color: #222B3A;
        }
      }
      .checkbox-block{
        min-width: 25px;
        height: 25px;
        background: #FAFAFA;
        border: 1px solid #DADADA;
        border-radius: 3px;
        display:flex;
        align-items: center;
        justify-content: center;
        &:hover{
          cursor:pointer;
        }
        &.checked{
          background-color: #0099DD;
        }
      }
  }
}
.right-side-block{
  position:absolute;
  right:-80px;
  top:30px;
  .item{
    background: #FFFFFF;
    border: 1px solid #DADADA;
    width: 56px;
    height: 56px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    margin:5px;
    display:flex;
    align-items:center;
    justify-content:center;
    img{
      color:red;
    }
  }
  :hover{
    cursor:pointer;
  }
}
