extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Save Car

        // register form
        form(method='POST' action='/post')
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='first and last' name='name')
          div.form-group
            label(for='model') Model:
            input#email.form-control(type='text', placeholder='model' name='model')
          div.form-group
            label(for='price') Price:
            input#favoriteBook.form-control(type='text', placeholder='price' name='price')
          button.btn.btn-primary(type='submit') Save
